<hr>
<footer>
    <!-- <p>This is the footer</p> -->
    <div class="card">
        <!-- <h5 class="card-header">Featured</h5> -->
        <div class="card-body">
            <h5 class="card-title">Footer</h5>
            <p class="card-text">This is the footer.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
</footer>

</body>

</html>